* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

html {
    font-family: 'system-ui', sans-serif, 'arial', 'helvetica';
    background-color: #f0f2f5;
}

.create-post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
}

.create-post-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.create-post-section input,
.create-post-section textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-post-section button {
    padding: 10px 20px;
    background-color: #4CAF40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feed-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    height: 100vh;
    width: 100%;
    background-color: #f0f2f5;
    padding: 40px 10px;
}

.post-card{
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    /* margin: 0 auto; */
}

.post-card h2{
    margin-bottom: 10px;
}

.post-card img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.create-post-section button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}